<main *ngIf="todoList?.length > 0;else noTodos">
    <ul *ngFor="let todo of todoList" class="collection">
        <li class="collection-item">
            <strong>{{todo.title}}:</strong>
            <br>
            {{todo.description}}
            <a class="secondary-content" (click)="editTodo($event, todo)" *ngIf="editState === false">✏️</a>

            <div *ngIf="editState && edit.id == todo.id">
                <hr>
                <a class="secondary-content" (click)="close()">❌</a>
                <form (ngSubmit)="updateTodo(todo)">
                    <input type="text" name="title" placeholder="update title" [(ngModel)]="todo.title">
                    <textarea class="materialize-textarea" type="text" name="description" placeholder="update description"
                        [(ngModel)]="todo.description"></textarea>
                    <button mat-raised-button class="green">✔️ Update</button>
                    <button mat-raised-button class="red" style="margin-left: 5px;"
                        (click)="deleteTodo($event, todo)">🗑️ Delete</button>
                </form>
            </div>
        </li>

    </ul>
</main>

<ng-template #noTodos>
    <section>
        <h3>Nothing to-do right now.</h3>
    </section>
</ng-template>